:root {
  --myColor: red;
  --myBgcolor: yellow;
}

body {
  --myColor1: green;
}

.block {
  --myColor: darkblue;
}

body {
  background-color: var(--myBgcolor);
}

p {
  color: var(--myColor, var(--myColor1, blue));
}
h1 {
  color: var(--myColor1);
}
